* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
$color_black: #222831;
$color_gray: #393e46;
$color_blue: #0092ca;
$color_light: #eeeeee;

@font-face {
    font-family: Nazanin;
    src: url("../../Font/Far.Nazanin\ Bold.ttf");
}
@font-face {
    font-family: RoyaBold;
    src: url("../../Font/Far.Roya\ Bold.ttf");
}
@font-face {
    font-family: Yekan;
    src: url("../../Font/Far.Yekan.ttf");
    // src: url("../../Font/Far.Nazanin.ttf");
}
@font-face {
    font-family: Ye;
    src: url("../../Font/Far.Yekan.ttf");
}
@font-face {
    font-family: MacLemon;
    src: url("../../Font/ENGLISH/MacLemon_PersonalUseOnly.ttf");
}
@font-face {
    font-family: Ye;
    src: url("../../Font/Far.Yekan.ttf");
}
%card_item_style {
    display: flex;
    // align-items: center;
    // align-content: space-around;
    position: absolute;
    justify-content: space-around;
    width: 20vw;
    height: 5vw;
    border-radius: 30px;
    margin-bottom: 15px;
    background-color: $color_blue;
}
body{
    background-color: $color_black;
}

.header {
    &-short {
        display: flex;
        position: relative;
        width: 100%;
        height:40vw;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        span{
            position: absolute;
            justify-self: center;
            color: $color_light;
            vertical-align: middle;
            font-family: RoyaBold;
            font-size: 40px;
        }

        &-video {
            position: fixed;
            top: 0px;
            width: 100%;
            object-fit:fill;
            height: 40vw;
            opacity: 0.4;
            z-index: -10;
        }
        &-footer{
            position: absolute;
            align-self: flex-end;
            display: block;
            width: 100%;
            height: 300px;
            bottom: 0px;
            object-fit: fill;
        }
    }
}

.main-information{
    display: flex;
    position: relative;
    background-color: $color_gray;
    width: 100%;
    height: 800px;
    overflow: hidden;
    img{
        // position: absolute;
        position: absolute;

        top: 20px;
        left: 50px;
        width: 350px;
        height: 500px;
        border-radius: 10px;
        box-shadow: black -5px 5px 10px;

    }
    &-text-container{
        
        position: absolute;
        width: 70vw;
        right: 0px;
        font-size: 2em;
        direction: rtl;
        padding: 50px;
        color: $color_light;
        h3{
            font-family: Yekan;

        }
        p{
            font-family: RoyaBold;

        }
    }
}

.card {
    width: 100%;
    // height: 1400px;
    background-color: $color_gray;
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    &-text{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 150px;
        background-color: darken($color: $color_blue, $amount:10);
        margin-bottom: 50px;
        h3{
            position: absolute;
            top: 40px;
            color: $color_light;
            font-size: 40px;
            font-family:Yekan ;
        }
    }

    &-container{
        width: 80vw;
        // height: 1300px;
        border-radius: 50px;
        overflow: hidden;
        flex-direction: column;
        background-color: $color_black;
        margin-bottom: 70px;
    }
    &-expertise{
        width: 100%;
    }
    &-body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        width: 100%;
        position: relative;
    }
    &-expertise-html {
        @extend %card_item_style;
        // left: 0px;
        span {
            align-self: center;
            overflow: hidden;
        }
    }
    &-expertise-css {
        @extend %card_item_style;
        position: absolute;
        span {
            align-self: center;
        }
    }
    &-expertise-javascript {
        @extend %card_item_style;
        position: absolute;
        span {
            align-self: center;
        }
    }
    &-expertise-bootstrap {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
    &-expertise-jquery {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
    &-expertise-sass {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
    &-expertise-react {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
    &-expertise-git {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
    &-expertise-sharp {
        @extend %card_item_style;
        span {
            align-self: center;
        }
    }
}


.project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: darken($color: $color_blue, $amount:10);
    margin-bottom: 100px;
    &-container{
        position: relative;
        width: 1500px;
        height: 600px;
        background-color: darken($color: $color_blue, $amount:15);
        $number:50px;
        @for $i from 1 to 7 {
            &-project-#{$i}{
                position: absolute;
                top: 50px;
                left: $number;
                span{
                    position: absolute;
                    display: block;
                    width: 80px;
                    height: 30px;
                    background-color: darken($color:$color_blue, $amount:0);
                    border-radius: 5px 5px 0px 0px;
                    z-index: 1;
                    &:hover  { 
                            top: -10px;
                    }
                    &:hover + div { 
                            top: 20px;
                            z-index: 10;
                            filter: blur(10px);
                    }
                    
                }
                div{
                    position: absolute;
                    display: block;
                    top:30px ;
                    width: 800px;
                    height: 400px;
                    background-color: darken($color: $color_blue, $amount:$i*5);
          
                }
            }
            $number:$number+100;
        }
    
    }
}
