#calendar .container{
    display: flex;
    justify-content: center;

}
#calendar .container_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#calendar kbd{
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgb(212, 220, 228);
    font-size: 16px;
}
#calendar strong{
    background-color: rgb(223, 223, 100);
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
}
#calendar .info-top{
    margin: 30px 10px;
    font-size: 20px;
}
#calendar .header{
    background-color: rgb(191, 199, 206);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
#calendar .div-text-btn{
    display: flex;
    flex-direction: row-reverse;
}
#calendar #text_input{
    /* width: 80%; */
    font-size: 23px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.637);
    color: rgb(43, 46, 48);
    flex-grow: 1;
    margin: 10px 10px 10px 5px;
}
#calendar #text_input:active{
    animation: text_big 2s ease-in both;
}

#calendar .btn_Add{
    color: rgb(57, 60, 61);
    padding: 5px 7px;
    border-radius: 4px;
    background-color: rgba(13, 236, 42, 0.911);
    height: 41px;
    margin: 10px 0px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: black -1px 1px 2px;
    position: relative;

}
#calendar .btn_Add:active{
    box-shadow: none;
    background-color: rgba(17, 196, 41, 0.911);
}
#calendar #container-calendar{
width: 100%;
height: 63%;
border-radius: 10px;
border: 1px solid rgb(83, 73, 73);
background-color: rgba(88, 143, 143, 0.733);
display: flex;
flex-direction: column;
overflow-y: scroll;
align-items: center;
animation: view 1s ease-in both;
/* position: absolute; */
}

#calendar .edit-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 98%;
    /* height: 20px; */
    font-size: 19px;
    padding: 1% 1%;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(153, 207, 253, 0.541);
    animation: change_opacity_up 200ms ease-in both;
}
@keyframes change_opacity_up{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#calendar .edit-text:hover{
    background-color: rgba(140, 187, 228, 0.596);
}
#calendar .edit-text:focus{
    
    background-color: rgba(64, 255, 96, 0.719);
}
#calendar .delete_icon{
    float: right;
    cursor: pointer;
    font-size: 30px;
    
}
/* #calendar .B{
    background-color: rgba(140, 187, 228, 0.596);
}
#calendar .B:focus{
    background-color: rgba(64, 255, 96, 0.719);
} */
#calendar .view-remove{
    animation: change_opacity_down 500ms ease-in-out both;
}
@keyframes change_opacity_down{
    0%{opacity: 1;}
    100%{opacity: 0;}
}