#calendar .box_obj{
    background-color: rgb(65, 91, 102);
    text-align: center;
}
#calendar .box_person{
    width: 450px;
    background-color: hsla(237, 32%, 22%, 0.836);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}
#calendar #container_person{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:height 3s ease-in;
}
#calendar .Height100{
    height: max-content;
}
#calendar #btn_submit {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }
  
  #calendar  #btn_submit::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  #calendar #btn_submit:hover {
    cursor: pointer;
    color: #161616;
  }
  
  #calendar #btn_submit:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(16, 15, 15);
  }
/* style imput text in head */
#calendar #div_text_style {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

#calendar #input_text_style {
  width: 10vw;
  display: inline-block;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(236, 32%, 26%);
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
  /* margin-top: 35px; */

}
#calendar #input_text_style:focus {
  outline: none;
}
#calendar #input_text_style::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}
#calendar .span_text_style {
  position: absolute;
  background-color: #3cefff;
  transform-origin: center;
  transition: transform 0.5s ease;
}
#calendar .bottom,.top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}
#calendar .left,.right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}
#calendar .top {
  top: 0;
}
#calendar .bottom {
  bottom: 0;
}

#calendar .left {
  left: 0;
}

.right {
  right: 0;
}

#calendar #input_text_style:focus ~ .top,   #input_text_style:focus ~ .bottom {
  transform: scaleX(1);
}

#calendar #input_text_style:focus ~ .left,   #input_text_style:focus ~ .right {
  transform: scaleY(1);
}

.description_program{
width: 20vw!important;
min-height: 100px;
max-height: 200px;
margin-top: 0px!important;
}
/* end style imput text in head */