#container {
    position: relative;
    padding: 0px 30vh;
    text-align: center;
    /* width: 100%; */
    height: 40vw;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff1f1;
    z-index: 1000;
    /* background-color: aqua; */
}
.color {
    background-color: #200f21;
    background-color: #382039;
    background-color: #5a3d5c;
    background-color: #f638dc;
}
body {
    /* font-family: sans-serif;
    font-size: 50px;
    color: #fff1f1; */
    background-color: #382039;
}
#paragraph-effort{
    /* position: absolute; */
    /* top: 500px; */

    margin: 50px 0px;
}
#container-number {
    display: flex;
    height: 170px;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
    z-index: 1;
}
.container-input {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.span-input-up {
    z-index: 2;
    background-color: rgba(0, 255, 0, 0.7);
    /* width: 90px;
    height: 20px; */
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    cursor: pointer;
}
.span-input-down {
    z-index: 2;
    background-color: rgba(255, 0, 0, 0.7);

    border-radius: 0px 0px 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
input[type="text"] {
    cursor: initial;
    -webkit-appearance: none;
    /* -moz-appearance: none; */
    font-size: 50px;
    width: 130px;
    height: 70px;
    color: #fff1f1;
    background-color: rgb(153, 201, 255);
    z-index: 2;
    border: none;
    outline: none;
}
input[type="text"]:focus {
    background-color: rgb(129, 188, 255);

}
.math-text {
    position: absolute;
    font-size: 20px;
    /* width: 100px; */
    width: 100%;
    text-align: center;
    z-index: 1;
    /* bottom: -10px; */
}
.show_animation_text_math {
    animation: show_text_math ease 1s  forwards alternate;
}
.hide_animation_text_math {
    animation: hide_text_math ease 1s  forwards alternate;
}
@keyframes show_text_math {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: -10px;
    }
}
@keyframes hide_text_math {
    0% {
        bottom: -10px;
    }
    100% {
        bottom: 60px;
    }
}
/* .input-number{
    color: #FFF1F1;
    background-color: #382039;

} */
#b-check {
    /* position: relative; */
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #38f668;
    margin-top: 30px;
    cursor: pointer;
    /* z-index: 1000; */
}
