@font-face {
    font-family: Nazanin;
    src: url("../../Font/Far.Nazanin Bold.ttf");
}
@font-face {
    font-family: RoyaBold;
    src: url("../../Font/Far.Roya Bold.ttf");
}
@font-face {
    font-family: Yekan;
    src: url("../../Font/Far.Nazanin.ttf");
}
#movie-site * {
    margin: 0px;
    padding: 0px;
    font-family: RoyaBold,sans-serif;
}
#movie-site  {
    direction: rtl;
    font-family: RoyaBold,sans-serif;
    /* overflow: hidden; */
}
#movie-site .header {
    display: block;

    width: 100%;
    height: 85vh;

    border-radius: 0px 0px 15px 15px;
    z-index: -1;
}
#movie-site #short_video_head {
    /* position: relative; */
    /* top: 0px; */
    /* right: 0px; */
    width: 100%;
    height: 40vh;
    object-fit: fill;
    z-index: -1;
}
#movie-site .container-card-movie {
    position: relative;
    display: flex;
    width: 800px;
    height: 400px;
    background-color: rgba(95, 95, 95, 0.637);
    box-shadow: black 0px 0px 15px;
    margin-bottom: 70px;
    border-radius: 5px;
    /* z-index: 10000; */
}
#movie-site .container-card-movie .right-section {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    /* background-color: rgb(179, 131, 90); */
}
#movie-site .container-card-movie .right-section .movie-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    /* background-color: rgb(90, 121, 179); */
}
#movie-site .container-card-movie .right-section .movie-cover img {
    border-radius: 10px;
    object-fit: fill;
    height: 80%;
    width: 90%;
}
#movie-site .container-card-movie .right-section .information-move {
    width: 60%;
    height: 100%;
    /* background-color: rgb(123, 179, 90); */
    /* padding: 5px 10px; */
}
@font-face {
    font-family: MacLemon;
    src: url("../../Font/ENGLISH/Hey.ttf");
}
@font-face {
    font-family: NavineDemo;
    src: url("../../Font/ENGLISH/NavineDemo-SemiCondensed.ttf");
}
#movie-site .container-card-movie .right-section .information-move h3 {
    font-family: MacLemon;
    color: white;
    font-size: 45px;
    padding: 25px 10px 10px 0px;
    font-size: 35px;
    /* margin-bottom: 20px; */
}
#movie-site .container-card-movie .right-section .information-move p {
    direction: rtl;
    font-family: RoyaBold;
    font-size: 20px;
    color: rgb(235, 235, 235);
    padding: 0px 5px;
}
#movie-site .container-card-movie .right-section .information-move p:nth-child(4) {
    direction: ltr;
    text-align: right;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(235, 235, 235);
    padding: 0px 5px;
}
#movie-site .container-card-movie .right-section .information-move p:last-child {
    font-family: Yekan;
    font-size: 20px;
    color: rgb(235, 235, 235);
    padding: 0px 5px;
}
/* #movie-site #container-card-movie .right-section .information-move p span{
    font-family: Yekan;
font-size: 20px;
color: rgb(235, 235, 235);
padding: 0px 5px;
} */
#movie-site .container-card-movie .right-section .information-move p:last-child {
    font-size: 17px;
    color: rgb(235, 235, 235);
    padding: 0px 5px;
}
#movie-site .container-card-movie .left-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: inherit;
    width: 20%;
    height: 100%;
    /* background-color: rgb(150, 148, 37); */
}
#movie-site .container-card-movie .left-section button {
    position: absolute;
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 50px;
    border: none;
    background-color: rgba(150, 197, 236, 0.781);
    font-family: Nazanin;
    font-size: 15px;
}
#movie-site .container-card-movie .left-section button:hover {
    background-color: rgb(150, 197, 236);
}

#movie-site #USER {
    position: relative;
    float: left;
}
#movie-site #USER :last-child {
    margin-left: 30px;
}

#movie-site head {
    overflow: hidden;
}

#movie-site header img {
    position: absolute;
    display: block;
    margin-top: -40px;
    width: 100%;
    height: 90%;
    z-index: -1;
}
#movie-site #div-head-text {
    position: relative;
    display: block;
    text-align: center;
    height: 400px;
    /* top: 20vh; */
}
#movie-site #text-logo {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 150px;
    font-family: sans-serif;
    /* color: rgb(65, 71, 71); */
    color: rgba(146, 121, 121, 0.39);
    font-size: 40px;
}
#movie-site #wellcome {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 200px;
    color: rgb(126, 96, 60);
    font-size: 30px;
}
#movie-site .div-pic-text {
    position: absolute;
    margin-top: -40px;
    z-index: -1;
}
#movie-site #ul-head-main {
    background: rgb(185, 181, 181);
    color: aliceblue;
    height: 40px;
    z-index: 1;
}
#movie-site #ul-head-main li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 12px;
}
#movie-site #ul-head-main li {
    list-style-type: none;
    float: right;
    margin-top: 6px;
    margin-right: 70px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(150, 137, 97, 0.596);
    padding: 0.1em 0.7em;
}
#movie-site #ul-head-main li:hover {
    background-color: rgba(201, 183, 129, 0.596);
}
#movie-site #ul-head-main li:first-child {
    margin-right: 0px;
}
#movie-site #ul-head-main li i {
    color: rgb(66, 65, 65);
    margin-top: 3px;
}
#movie-site #div-main-right {
    background-color: rgb(153, 144, 127);
    border: 1px solid rgb(87, 86, 86);
    height: 500px;
    width: 17%;
    float: right;
    margin-right: 5px;
    border-radius: 5px;
    padding: 10px;
}

#movie-site #div-main-right h4 {
    text-align: center;
}
#movie-site .headers-main-right {
    width: fit-content;
    padding: 0.3em 0.7em;
    margin-top: 15px;
    margin-right: 10px;
    background-color: rgba(155, 109, 107, 0.877);
    box-shadow: rgba(0, 0, 0, 0.301) 2px 2px 1px;
    border-radius: 20px;
}
#movie-site .checkbox-brand-main-right {
    display: inline-block;
    padding: 2px 5px;
    margin: 3px;
    background-color: rgb(175, 167, 155);
    border-radius: 5px;
}
#movie-site #range-text {
    position: relative;
    top: -8px;
    padding: 0.2em 40px;
    background-color: rgb(146, 163, 173);
    margin: -10px 5px 30px 0px;
}
#movie-site #combobox-main-right {
    width: 50%;
    height: 5%;
    background-color: rgb(220, 238, 255);
    border-radius: 6px;
}
#movie-site #div-main-center {
    /* background-color: gray; */
    /* border: 1px solid rgb(87, 86, 86); */
    /* width: 55%; */
    /* float: right; */
    margin: 0px 20px;
}
#movie-site .section-main-center {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: rgb(88, 84, 82);
    direction: ltr;
    border-radius: 10px;
    margin-top: 10px;
}
#movie-site .section-main-center img {
    width: 100%;
    height: 70%;
}
#movie-site .section-main-center a {
    position: absolute;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 0.1em 0.5em;
    right: 5px;
    bottom: 5px;
}
#movie-site .section-main-center a:hover {
    background-color: rgb(209, 209, 185);
}

#movie-site #main-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 300px;
}

#movie-site #div-main-left {
    height: 1500px;
    width: 350px;
}
#movie-site #div-main-left div:first-of-type {
    background-color: gray;
    border: 1px solid rgb(87, 86, 86);
    width: 350px;
    height: max-content;
    border-radius: 5px;
    padding: 10px 10px;
}
#movie-site .section-main-left {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
    height: 90px;
    /* width: 95%; */
    width: 100%;
    background-color: rgb(185, 186, 187);
    border-radius: 5px;
    box-sizing: content-box;
    margin: 10px 0px;
    /* margin: auto; */
}

#movie-site .section-main-left p {
    /* position: absolute; */
    /* top: 0px; */
    /* right: 0px; */
    /* height: 80px; */
    direction: rtl;
    font-size: 15px;
    -webkit-line-clamp: 3;
    font-size: 15px;
    font-family: RoyaBold;
    /* white-space:nowrap; */
    /* overflow: hidden; */
    line-height: 20px;
    text-overflow: ellipsis;
    padding: 5px 10px;
    /* text-indent: 10px; */
    font-weight: 700;
    /* font-stretch: extra-condensed; */
}
#movie-site .img-main-left {
    /* position: absolute; */
    /* left: 0px; */
    /* float: left; */
    /* margin-left: auto; */
    width: 30%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}
#movie-site #div-main-left h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#movie-site #div-footer-top ,#div-footer-top #card-move-footer-container{
    position: relative;
    clear: both;
    background-color: gray;
    border: 1px solid rgb(87, 86, 86);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    scroll-behavior: smooth;
}
#movie-site #div-footer-top .scroll_footer_style {
    position: absolute;
    width: 4vw;
    padding: 150px 10px;
    z-index: 1;
    cursor: pointer;
}
#movie-site #div-footer-top #scroll-list-left {
    float: left;
    left: 0px;
    text-align: left;
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}
#movie-site #div-footer-top #scroll-list-right {
    right: 0px;
    text-align: right;
    visibility: hidden;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}


#movie-site #div-footer-bottom {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(211, 211, 211);
    padding: 20px 0px;
}
#movie-site #section-div-footer-1 {
    /* overflow: hidden; */
    direction: rtl;
    width: 250px;
    height: 310px;
    background-color: rgb(211, 211, 211);
    direction: ltr;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 5px 20px;
}
#movie-site #section-div-footer-1 img {
    border-radius: 10px;
    width: 100%;
    height: 67%;
}
#movie-site #section-div-footer-1 button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#movie-site .text-margin {
    direction: rtl;
    margin: 2px 3px;
}
#movie-site .button-footer-up {
    font-family: sans-serif;
    display: inline-block;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    /* position: absolute; */
    /* left: 3px; */
    box-sizing: border-box;
    float: left;
    margin: 0px 10px;
    padding: 3px 5px;
    box-shadow: rgb(113, 179, 52) 2px 3px 3px;
}
#movie-site .button-footer-up a {
    font-family: sans-serif;
}
#movie-site #section-div-footer-1 img:hover {
    transform: rotate(5deg);
    transition: all 1s ease-out 0s;
}

/* picture dialog */
#movie-site .div-picture-dialog-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
    box-sizing: content-box;
    padding: 100px 0px;
    /* box-shadow: black 0px 1px ; */
    /* box-shadow: black 0px 1px ; */
    /* overflow: hidden; */
}
#movie-site #container-img {
    direction: ltr;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px;
}
#movie-site .picture_edit {
    object-fit: fill;
    /* display: inline-block; */
    /* width: 500px !important; */
    height: 420px;
    position: relative;
    /* animation: next 2s ease 2s both infinite; */
}
#movie-site .next {
    animation: next 2s ease 2s both;
}
#movie-site .next1 {
    animation: next1 2s ease 2s both;
}
#movie-site .next2 {
    animation: next2 2s ease 2s both;
}
@keyframes next {
    0% {
        left: 0px;
    }
    100% {
        left: 300px;
        animation-play-state: paused;
    }
}
@keyframes next1 {
    0% {
        left: 300px;
    }
    100% {
        left: 600px;
        animation-play-state: paused;
    }
}
@keyframes next2 {
    0% {
        left: 600px;
    }
    100% {
        left: 0px;
    }
}
/* end picture dialog */

/* css for the nav head */
/* @font-face {
    font-family: shabnam;
    src: url(Shabnam.ttf);
} */

#movie-site .effect-blur {
    background-image: url("pictur/img.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#movie-site #container_nav_header {
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    position: fixed;
    top: 0px;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
    /* overflow: hidden; */
}

#movie-site #logo_nav {
    /* position: absolute; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 7px;
    /* display: inline-block; */
    /* overflow: hidden; */
}

#movie-site a {
    /* font-family: shabnam; */
    text-decoration: none !important;
    color: rgba(223, 219, 219, 0.904);
}

#movie-site li {
    list-style: none;
}

#movie-site .ul-menu {
    /* background-color: rgba(0, 0, 0, 0.575); */

    /* width: 100px;
       height: 100px; */
    /* display: inline-block; */
}

#movie-site .ul-menu > li {
    float: right;
    margin: 10px 10px 0px 10px;
    z-index: 2;
    padding-bottom: 10px;
    /* background-color: rgb(75, 109, 139); */
}

#movie-site .link-navbar {
    text-decoration: none;
    color: rgba(223, 219, 219, 0.904);
    font-size: 17px;
}

#movie-site .link-navbar:hover {
    color: rgb(238, 228, 228);
}

#movie-site .icone-more {
    margin-right: 3px;
    position: relative;
    top: 2px;
    /* display: inline-block; */
    animation: forwards icon-more-bottom 1s;
}

#movie-site .icone-more:hover {
    animation: forwards icon-more-top 1s;
}

@keyframes icon-more-top {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes icon-more-bottom {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#movie-site .search-box {
    border-radius: 2px;
    background-color: rgba(37, 41, 44, 0.753);
    margin-left: 30px;
    width: 250px;
}

#movie-site .search-box:focus {
    background-color: rgba(53, 59, 63, 0.753);
    animation: ease-out search-element 1s;
}

#movie-site #input-search {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    width: 85%;
    /* height: 100%; */
    color: rgb(190, 206, 211);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

#movie-site #input-search:focus {
    background-color: rgba(37, 41, 44, 0.753);
}

#movie-site #btn-search {
    background-color: rgba(161, 123, 123, 0);
    border: none;
    cursor: pointer;

    color: rgb(165, 158, 149);
    float: left;

    width: 15%;
    font-size: 100%;
    height: 30px;
}

#movie-site .ul-more {
    position: absolute;
    display: none;
    /* top: 45px; */
    background-color: rgba(16, 16, 20, 0.897);
    box-sizing: content-box;
    border-radius: 3px;
    margin-top: 10px;
    /* width: max-content;
    height: max-content; */
    /* width:200px; */
    /* height: max-content; */
    /* height: 300px; */
    /* width: 100px; */
    padding: 0px;
}
#movie-site .ul-more a {
    /* position: absolute; */
    /* box-sizing: border-box; */
    color: white;
}

#movie-site .ul-more li {
    font-size: 14px;

    padding: 10px 10px 10px 70px;
}

#movie-site .ul-more li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(16, 16, 20, 0.932);
}
